body {
  margin: 0;
  padding: 0;
}

.full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.full img {
  width: 100%;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: -5;
}

.two > img {
  width: 50%;
}

.two > img:nth-child(1) {
  margin-right: 10px;
}

.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.three > img {
  width: 33%;
}